.navigation {
  height: 50px;
  background: #4e4e4e;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.navigation .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.right-nav {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.link-item {
  color: white;
  text-decoration: none;
}

.company {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.link-item.offers-link {
  margin: 0 20px;
}

.right-nav .disabled {
  cursor: not-allowed;
}

ul {
  display: flex;
  margin-left: auto;
  list-style: none;
}
.header {
  height: 100vh;
  background-image: url(../../assets/pexels-francesco-ungaro-2325446.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  width: 60%;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: white;
}

.shadow {
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.paragraph {
  margin: 46px 0;
  color: white;
  margin-top: 62px;
  margin-bottom: 42px;
}

.offer-btn {
  height: 41px;
  width: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: 3px solid #ffffff;
  text-decoration: none;
  transition-duration: 1s;
}
.offer-btn:hover {
  background: white;
  color: black;
}
